@model IEnumerable<MSA_Phase_2.Models.Book>

<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
</head>
<body>
    <h1>Books List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.BookName</td>
                    <td>@book.AuthorId</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
