.review-container {
    display: flex;
    margin: 1% auto;
    padding: 1%;
    border-radius: 30px;
    min-width: fit-content;
    padding-right: 2%;
}

  
.book-title {
    font-size: 2.5vw;
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.author-name {
    margin-top: 0%;
    margin-bottom: 0%;
}

.review-details {

    margin-left: 2%;

    min-width: fit-content; 

}
  
.rating {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0%;
}

.book-description{
    max-width: 25vw;
}

.book-cover{
    height: 100%;
}

