.white {
    background-color: #25262B;
}

.brand-colour {
    background-color: #5cd48c;
}

.light-grey {
    background-color: #1A1B1E;
}

.lighter-grey{
    background-color: #C1C2C5;

} 

.lighter-grey-font{
    color: #C1C2C5;

} 


.brand-colour-fonts {
    color: #5cd48c;
}

:root {
    --colour-primary: #5cd48c;
    --colour-secondary: #91ffb5;
    --colour-secondary-gradient: #2F7049;
    --colour-primary-gradient: #25262B;

    --lighter-grey: #C1C2C5;
  }

